* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.banner {
    height: 100px;
    background-color: rgb(96, 133, 255);
    background-image: url(./img/pattern.png);
    background-repeat: repeat;
    background-size: 20%;  
}

img {
    height: 70px;
}

h1 {
    font-size: 50px;
}

#words-blue {
    color: aqua;
    font-size: 25px;
}

.gray-words {
    color:grey;
    font-size: 25px;
}

.tim-photo {
    height: 400px;
}

.photo-description {
    font-size: 15px;
}

.space {
    margin-top: 20px;
    margin-bottom: 20px;
}

ul {
    margin-left: 1em;
}

table {
    
    border-collapse: collapse;
}

thead {
    background-color: rgb(0, 123, 180);
    color: white;
}

th{
    text-align: left;
}

td {
    /* padding: 5px; */
    width: 25%;
}

.odd-lines {
    background-color: lightblue;
}