* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* banner with title */
.banner {
    height: 100px;
    background-color: rgb(96, 133, 255);
    background-image: url(./img/pattern.png);
    background-repeat: repeat;
    background-size: 20%;  
}

.logo {
    height: 70px;
}

h1 {
    font-size: 50px;
}

#words-blue {
    color: aqua;
    font-size: 25px;
}

.gray-words {
    color:grey;
    font-size: 25px;
}

/* photo of Tim and description */
.tim-photo {
    height: 400px;
}

.photo-description {
    font-size: 12px;
}


/* first article */
.space {
    margin-top: 20px;
    margin-bottom: 20px;
}


/* list */
ul {
    margin-left: 1em;
}


/* table */
table {
    
    border-collapse: collapse;
}

thead {
    background-color: rgb(0, 123, 180);
    color: white;
}

th {
    text-align: left;
}

td {
    width: 25%;
}

.odd-lines {
    background-color: lightblue;
}


/* final part with two photos */
.footer-img1 {
    width: 300px;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-image: url(./img/monitor.jpg);
    color: white;
    font-size: 25px;
    font-weight: bold;
    
}

.footer-img2 {
    width: 300px;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-image: url(./img/graph.jpg);
    color: white;
    font-size: 25px;
    font-weight: bold;

}

/* esercizio finito */