* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.banner {
    height: 100px;
    background-color: rgb(96, 133, 255);
    background-image: url(./img/pattern.png);
    background-repeat: repeat;
    background-size: 20%;  
}

img {
    height: 70px;
}

h1 {
    font-size: 50px;
}

#words-blue {
    color: aqua;
    font-size: 25px;
}

.gray-words {
    color:grey;
    font-size: 25px;
}

.tim-photo {
    height: 400px;
}

.photo-description {
    font-size: 15px;
}